:root {
  --accent-background-color: #ffffff;
  --accent-text-color: #000000;
  --accent-positive-color: #24cca7;
  --accent-negative-color: #ff6596;
  --border-button-color: #4a56e2;
  --text-placeholder-color: #bdbdbd;
  --icon-background-color: #6e78e8;
  --icon-background-active-color: #4a56e2;
  --table-background-value-color:#4A56E2;
  --modal-backdrop-color: rgba(0, 0, 0, 0.25);
  --background-tablet-color:#E7EAF2;
  --background-tablet-wallet-color: rgba(255, 255, 255, 0.4);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
